<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 cover-img" style="background-image:url('https://manablog.org/wp-content/uploads/2016/11/top-img.jpg');-moz-background-size:cover;
background-size:cover;">
			<div class="cover-text text-center">
			<p style="height: 150px;"></p>
			<%= image_tag attachment_url(@intern, :company_image, :fill, 300, 300, format: "jpg" ),:class=>'img-thumbnail' %>
			
				<h1 style="color: #fff;"><%= @intern.title %></h1>

				<p style="height: 100px;"></p>
			</div>
		</div>
	</div>
</div>


    <div class="container">


      <div class="row text-center">
        <div class="col-md-12">
        <p style="height: 100px;"></p>
          <h2>内容</h2>
                  <p style="height: 50px;"></p>
          <h4><%= @intern.context %></h4>

        </div>
        <p style="height: 100px;"></p>
                  <h2>詳細</h2>
                  <p style="height: 50px;"></p>
<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row" width="20%">日時</th>
      <td class="text-left">Mark</td>
    </tr>
    <tr>
      <th scope="row">場所</th>
      <td class="text-left">Jacob</td>
    </tr>
    <tr>
      <th scope="row">時間</th>
      <td class="text-left">Larry</td>
    </tr>
    <tr>
      <th scope="row">応募方法・締め切り</th>
      <td class="text-left">Larry</td>
    </tr>   
    <tr>
      <th scope="row">持ち物・服装</th>
      <td class="text-left">Larry</td>
    </tr>   
    <tr>
      <th scope="row">主催</th>
      <td class="text-left">Larry</td>
    </tr>   

  </tbody>
</table>



    </div> <!-- /container -->
